---
// Component Imports
import Counter from '../components/Counter.svelte';
import { Icon } from 'astro-icon';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Find software engineers effectively!">
		<title>Jobrella</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style>
			@font-face {
				font-family: ubuntuCondensed;
				src: url(/UbuntuCondensed.woff);
			}
			html,
			body {
				font-family: ubuntuCondensed;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
			<Icon name="jobrella" style="width:100%; max-height:90vh"/>
			<div style="text-align: center;">
				<span style="font-size: 2.5rem; margin-top:4rem; text-align: left; display:inline-block;">
					<h1>HOW IT WORKS?</h1>
					<p style="font-size: 0.8em">We know how and where software engineers look for jobs.</p>
					<ol>
						<li>Write Job Description - pdf is perfect</li>
						<li>Pick Employment Country (for now we support Poland)</li>
						<li>Choose the range that you are satisfied with</li>
						<li>We will post Your job offer in max 24h in different portals</li>
						<li>Wait for CVs from candidates</li>
					</ol>
				</span>
			</div>
			<Counter client:visible>
				<h1>Hello, Svelte!</h1>
			</Counter>
		</main>
	</body>
</html>
